.history-container {
}

.history-card {
    background: #ffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.history-table th,
.history-table td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.history-table th {
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #162a4f;
}