.outerDiv {
  margin-left: 3vw;
  margin-top: 1vh;
}

.innerDiv {
  background-color: #ffff;
  border-radius: 10px;
  margin-bottom: 1.5vh;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.heatDiv {
    height: 500px;
    display: flex;
    flex-direction: column; /* Text oben, Chart darunter */
    position: relative;
}

.chartWrapper {
    flex: 1; /* nimmt den Rest des Platzes */
    display: flex;
    justify-content: center;  /* Chart horizontal zentrieren */
    align-items: center;      /* Chart vertikal zentrieren */
}

.cornerText {
  padding-left: 0.5vw;
  padding-top: 0.5vh;
}


.chartStyle {
  text-align: center;
}

.numbersText {
    padding-left: 1vw;
    font-size: 1.2em;
    padding-bottom: 0.75vw;
}

ol {
    counter-reset: item;
    list-style: none;
}

ol li::before {
    counter-increment: item;
    content: counter(item) ". ";
    margin-right: 0.5em;
}

.current-state {
    font-weight: bold;
}

.waterAndCoffeeStatus {
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.backgroundGreen {
    background-color: #69b190;
}

.backgroundRed {
    background-color: #780808;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;

}